<div class="col-3">
    <div class = "row">
        <a asp-area="Admin"
        asp-controller="Order"
        asp-action="Index">ORDERS</a>
    </div>
    <div class = "row">
        <a asp-area="Admin"
        asp-controller="User"
        asp-action="Index">USERS</a>
    </div>
    <div class = "row">
        <a asp-area="Admin"
        asp-controller="Role"
        asp-action="Index">ROLES</a>
    </div>
        <div class = "row">
    <a asp-area="Admin"
    asp-controller="Product"
    asp-action="Index">PRODUCTS</a>
    </div>
</div>